html {
    margin: 0;
    padding: 0;
}
body {
    font-family: courier; 
    font-size: 13pt;
    background-image:url(https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapercave.com%2Fwp%2FqTU9Kbc.jpg&f=1);
    padding: 10px;
    margin: 0;
    
}
h1 {
    font-size: 15pt;
    color: #9932CC;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px double #9932CC;
    padding: 5px;
}
p {
    padding: 0;
    margin: 0;
    
}
.img-circle {
    border: 3px solid white;
    border-radius: 50%;
    position:relative; left: -135px;
    position:relative; top: 15px;
    margin: auto;
    
    
}
/*circle AVATAR CAT*/
.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #FFFAFA, #F5FFFA);
    box-shadow: 3px 2px 20px 2px black;
    opacity: 0.87;
    
     
}
#header {
    background-image: url("https://pp.userapi.com/c847016/v847016620/356ab/-CoZMkpRhR0.jpg");
    background-size: cover;
  
    
}
#header img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}
#header p {
    font-size: 25pt;
    color: #9932CC;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    /*background-color: rgba(255, 255, 255, 0.15);*/

}
.quote {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px;
}
table {
    width: 100%;
}
table, th, td {
    border: 2px solid #9932CC;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.selected {
    background-color: #000000;
    font-weight: bold;
    color: white;
}
li {
    margin-bottom: 15px;
    font-weight: bold;
}
progress {
    width: 70%;
    height: 20px;
    color: #9932CC;
    background: #efefef;
}
progress::-webkit-progress-bar {
    background: #efefef;
}
progress::-webkit-progress-value {
    background: #9932CC;
} 
progress::-moz-progress-bar {
    color: #9932CC;
    background: #efefef;
}
iframe, audio {
    display: block;
    margin: 0 auto;
    border: 3px solid #9932CC;
}
hr {
    border: 0;
    height: 1px;
    background: #f36f48;
}
form {
    text-align: center;
    margin-top: 0;
}
.submit {
    background-color: #9932CC;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #43a09d;
}
textarea {
    height: 100px;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
    svg{
    margin-left:30%;
}  /*SMILEYYYYYYYYYYYYYYYYY*/


#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}